$main: #1b5a88;
$blue: #1b5a88;
$green: #25d366;
$orange: #e67e22;
$yellow: #f1c40f;
$red: #dd3333;
$dark: #2c3e50;
$white: #ffffff;
$gray: #f1f1f1;
$light-blue: #34b7f1;

$lightRed: #f5c6cb;

$darkGreen: #27ae60;

$gradient-blue: linear-gradient(140deg,#15c39a,#336CAF 60%);
$gradient-light-blue: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
$gradient-light-red: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
$gradient-dark: linear-gradient(315deg, #485461 0%, #28313b 74%);

$main-font: 'Open Sans';
$grayText: #808080;
$inputBackground: #f0f2fc;
$labelColor: #808080;
