.errors {
  &.margin-bottom {
    margin-bottom: 40px;
  }

  > .error {
    background-color: $red;
    margin-bottom: 5px;
    padding: 8px 15px;
    border-radius: 3px;
    font-size: 13px;
    color: $white;
  }
}

.swal-content{
  > .errors {
    > .error{
      font-size: 16px;
      position: relative;
      float: none;
      line-height: normal;
      vertical-align: top;
      text-align: left;
      display: inline-block;
      margin: 0;
      padding: 0 10px;
      font-weight: 400;
      color: rgba(0,0,0,.64);
      max-width: calc(100% - 20px);
      overflow-wrap: break-word;
      box-sizing: border-box;
      background-color: unset;
    }
  }
}