.select-upload-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  width: 100%;

  > .select-upload-label {
    margin-bottom: 8px;
    font-size: 13px;
    color: $labelColor;
    font-weight: 600;
  }

  > .select-upload {
    flex: 1;
    display: flex;
    align-items: stretch;
    width: 100%;

    &.has-error {
      border: 1px solid $red;
    }

    > .upload-input {
      flex: 1;
      display: flex;
      align-items: center;
      position: relative;
      height: 40px;
      background-color: $inputBackground;
      border-radius: 50px;
      width: 45%;

      > .file-label {
        position: absolute;
        left: 20px;
      }

      > input[type=file] {
        width: 100%;
        opacity: 0;
        z-index: 1;
      }

      > .input {
        flex: 1;
        height: 40px;
      }
    }

    > .upload-option {
      width: 10%;
      text-align: center;
      border-bottom: 1px solid #000;
      line-height: .1em;
      margin: 20px 10px;

      > span {
        background: #ffffff;
        padding: 0 10px;
      }
    }

    > .select-input {
      display: flex;
      height: 40px;
      width: 45%;

      > button {
        background-color: $main;
        padding: 0px 20px;
        border: none;
        border-radius: 40px;
        width: 100%;
        color: #ffffff;
        font-weight: 600;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.file-upload-list-selector {
  > .file-upload-item {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid #eee;
    cursor: default;
    user-select: none;

    &:hover {
      background-color: $inputBackground;
    }

    &.selected {
      background-color: $inputBackground;

      > i {
        color: $green;
      }
    }

    > i {
      margin-top: 1px;
      margin-right: 8px;
    }

    > .file-name {
      flex: 1;
    }
  }
}